<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Node App</title>
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="build/css/index.css">

</head>
<body>
	<header>
		<video loop="loop" preload="auto" autoplay="autoplay">
			<source src="//a0.muscache.com/airbnb/static/Paris-P1-1.mp4" type="video/mp4">
			<source src="//a0.muscache.com/airbnb/static/Paris-P1-0.webm" type="video/webm">
		</video>
		<nav>
			<a href="#" class="nav_logo">LxC</a>
			<div class="nav_right">
				<a href="" class="nav_login">登陆</a>
				<a href="" class="nav_signup">注册</a>
				<md-button class="md-raised md-primary">发布房源</md-button>
			</div>
		</nav>
		<div class="header_content">
			<h1>欢迎回家</h1>
			<p>向你提供一个独一无二的家</p>
			<md-button class="md-raised">如何使用</md-button>
		</div>

		<div class="header_footer">
			
		</div>
	</header>

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="bower_components/hammerjs/hammer.min.js"></script>
	<script src="bower_components/angular-material/angular-material.min.js"></script>

	<script src="javascripts/index.js"></script>
</body>
</html>
