<div ng-include="'/views/partials/navbar.html'"></div>
<div class="detail-bg"></div>
<div class="detail-summary">
	<div class="summmary-container">
		<h1>市中心法租界趣味艺术老洋房Art French Concession</h1>
		<p class="summary-address">上海, Shanghai Shi, 中国</p>
		<p class="summary-like"><span>99</span><i class="icon-heart"></i></p>
	</div>
</div>
<div class="detail-content">
	<div class="content-container">
		<h4>关于此房源</h4>
		<div class="content-about">
			在此，您可以在人们家中找到独一无二的住宿体验——从独栋房子到公寓，再到树屋和圆顶小屋。以下的房源详情阐述了此房源所提供的一切。如有任何疑问，您可以直接联系房东。
		</div>
	</div>
</div>