<div ng-include="'/views/partials/navbar.html'"></div>

<div class="new" ng-controller="homeCtrl">
	<div class="new-header">
		<h2>个人中心</h2>
		<p>您可以在此管理您的房源</p>
	</div>
	<div class="new-container">
		<div class="list-container" layout-wrap layout>
			<md-card ng-repeat="house in houseData.slice().reverse()">
				<a href="" ui-sref="detail({id: house._id})">
					<img ng-src="{{house.imgUrl[0]}}">
				</a>
				<md-card-content>
					<a href="" ui-sref="detail({id: house._id})">{{house.headline}}</a>
					<p>{{house.houseType}}</p>
					<p class="price">￥<span>{{house.money}}</span></p>
				</md-card-content>
			</md-card>
			<h1 ng-show="houseData.length === 0">没有搜索到相关信息~请发布房源~</h1>

		</div>

	</div>
</div>
